// _variables.scss
// Define global variables for colors, typography, and spacing

// Colors
$color-primary: #001449;
// $color-primary-dark: #942300;
$color-secondary: #00f4c3;

$color-black: #1d1d1f;
$color-gray: #475361;
$color-gray-light: #e6e7e8;
$color-gray-dark: #8998AA;

$color-blue: #5ac2ee;

$color-white: #ffffff;
$color-white-1: #D3D3D3;
$color-white-2: #F2F4F7;
$color-white-3 : #DFE6EC;
$font-regular: "Area-normal-reugular";
$font-bold: "Area-normal-bold";
$font-exbold: "Area-normal-exbold";


