.section {
  &__breadcrums {
    font-family: $font-exbold;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    a {
      color: $color-gray-dark;

      &::after {
        content: "";
        background-color: $color-gray-dark;
        width: 2px;
        height: 1.3rem;
        display: inline-block;
        margin-left: 1rem;
      }

      &:hover {
        color: $color-gray;
      }
    }

    span {
      color: $color-primary;
    }
  }

  &__img {
    height: 596px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
}

.grid__containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(51%, 1fr));
  gap: 8rem;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
    border-bottom: 1px solid $color-gray;
    font-size: 1.6rem;
  }
}

.video {
  &__container {
    // height: 520px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 10rem;

    img {
      height: 520px;
      border-radius: 15px;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      font-size: 3rem;
      cursor: pointer;
      height: 8.4rem;
      width: 8.4rem;
      border: 2px solid $color-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      backdrop-filter: blur(50px);

      &:hover {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}

.spec-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  border: none;

  tr {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center !important;
    }
  }
}

.spec-table tr:nth-child(odd) {
  background-color: $color-white-2; /* light bluish gray */
}

.spec-table th,
.spec-table td {
  padding: 12px 16px;
  text-align: left;
}

.spec-table th {
  font-weight: bold;
  color: #2b2b2b;
  // width: 30%;
}

.spec-table td {
  color: #4d4d4d;
  text-align: right;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.section--layouts {
  // background-color: $color-secondary;
  padding: 10.8rem 0;
}

.section--list {
  .flex {
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
}
